# Sample config file for Field Trace.
# All the test cases in the test directory uses this config file.

# Every line in a Field Trace config is a field directive with the
# form:
#
# field=STRUCT_NAME-FIELD_NAME-HOOK_NAME
#
# No part of the directive is optional.  Specify "!" for FIELD_NAME to
# instrument all fields in a struct.

# Add hooks for accesses to every field in the inode struct.
field=foo-!-__report_field_access
