# Sample config file for Assign Trace
# All the test cases in the test directory use this config file.

# Every line in an Assign Trace config takes the form:
# hook=STRUCT_NAME-HOOK_NAME

# Every memory assignment with type (struct STRUCT_NAME *) or
# (union STRUCT_NAME *) will get a logging call to the function
# HOOK_NAME.
hook=foo-__report_assignment
